body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body {
  min-width: 1054px;
  min-height: 1100px;
}

/*今日头条头部样式*/
.head {
  background: black;
  color: white;
  height: 30px;
  white-space: nowrap;
  min-width: 1054px;
}

.weather {
  padding-top: 2px;
}

.city {
  margin-left: 10px;
  padding-top: 5px;
}

.city_weather {
  margin-left: 10px;
}

.city_temperature {
  margin-left: 10px;
}

.zhuce {
  margin-right: 10px;
  background: black;
  color: white;
  white-space: nowrap;
}

/* 今日头条标题样式*/
.title {
  color: red;
  font-size: 35px;
  text-align: center;
  font-family: 华文彩云;
  margin-top: 10px;
}

/*今日头条路由样式*/
.tab {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
  margin-left: 5%;
  margin-right: 5%;
}

.tab a {
  font-size: 18px;
  text-decoration: none;

}

/*搜索框样式*/
.search-wrapper {
  margin-right: 10px;
}

.search-wrapper button {
  margin-left: 2px;
}

.search-wrapper input {
  height: 20px;
  margin-bottom: 5px;
  font-size: 14px;
}

/*左右样式*/
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.left {
  margin-left: 15%;
  margin-right: 5%;
  min-width: 640px;

}

#tab {
    width: 70%;
}

.right {
  background: aliceblue;
  width: 25%;
  margin-right: 10%;
  margin-left: 5%;
}

/*登录样式*/
.login-box {
  margin: 10px 10px;
  border: 1px solid #e8e8e8;
    background: azure;
    height: 190px;
    child-align: middle;
}



.login-box p {
    font-size: 2px;
    color: gray;
  text-align: center;
  white-space: nowrap;
}

.log_form {
    text-align: center;
}

.log_form input {
    width: 180px;
    height: 24px;
    line-height: 24px;
}

.login-box button {
    background: brown;
  color: white;
    /*width: 50%;*/
    /*height: 20%;*/
    width: 190px;
    height: 24px;
    margin-top: 10px;
    text-align: center;
}

.login-box img {
    height: 40px;
    border: 1px dashed #ccc;
    margin-left: 106px;
}

.add_news button {
    background: brown;
    color: white;
    /*width: 50%;*/
    /*height: 20%;*/
    width: 190px;
    height: 24px;
    margin-top: 10px;
    padding-left: 20px;
    text-align: center;
}

#fabu {
    background-color: brown;
    margin-left: 34px
}

.signup {
    color: blue;
    font-size: 10px;
    text-align: center;
}

.right-text {
    margin-right: 0px;
    padding-left: 0px;
    text-align: right;
    font-size: 10px;
}

.add_article {
    background-color: #e8e8e8;
    text-align: center;
    width: 100%;
    border: 2px solid #cccccc;
}

.add_article hr {
    background-color: brown;
}

.add_article label {
    color: brown;
}

.add_article input {
    margin-top: 2%;
    width: 30%;
    padding-top: 2px;
}

#laiyuan {
    width: 15%;
    height: 18px;
}

.add_article textarea {
    /*padding-top: 10%;*/
    margin-top: 5%;
    resize: none;
    width: 70%;
    min-height: 600px;

}

.add_article button {
    background: brown;
    color: white;
    width: 190px;
    height: 24px;
    text-align: center;
}

#succ_add {
    color: brown;
}

.edit_article {
    background-color: #e8e8e8;
    text-align: center;
    width: 30%;
    border: 2px solid #cccccc;
}

.edit_article hr {
    background-color: brown;
}

.edit_article label {
    color: brown;
}

.edit_article input {
    margin-top: 2%;
    width: 30%;
    padding-top: 2px;
}

#laiyuan {
    width: 15%;
    height: 18px;
}

.edit_article textarea {
    /*padding-top: 10%;*/
    margin-top: 5%;
    resize: none;
    width: 70%;
    min-height: 600px;

}

.edit_article button {
    background: brown;
    color: white;
    width: 190px;
    height: 24px;
    text-align: center;
}

/*文章列表样式*/
.list_box {
  height: 60px;
  margin-left: 20px;
}

.list_title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;

}

.list_title a {
  text-decoration: none;
  color: black;
}

.list_res {
  color: red;
  margin-left: 5px;
}

.list_time {
  margin-left: 5px;
}

/*底部样式*/
.tail {
  text-align: center;
  white-space: nowrap;
}

/*个人中心样式*/
.me-head {
  background: black;
  height: 30px;
  color: white;
  text-align: center;
  white-space: nowrap;
}

.me {
  display: flex;
  flex-direction: row;
  justify-content: start;


}

.me-left {
  padding-left: 5%;
  padding-right: 5%;
  background: #e8e8e8;
  height: 100%;
}

.me-right {
  flex: 1;
}

.me-item a {
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

/*文章列表样式*/
.articlelist {
  text-align: center;
}

.articlelist-table {
  text-align: center;
  margin: 5% 5% 5% 5%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.articlelist-table .th {
  margin-left: 100px;
}

/*文章录入*/
.eidt {

}

.add ul {
  font-size: 20px;
  margin-left: 30%;
}

.add input {
  height: 25px;
}

.add textarea {
  height: 200px;
}

/*详情页面样式*/
.content {
  width: 640px;
}
.content img {
  width: 640px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.content-p {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  white-space: pre-wrap;
}

/*评论样式*/
.comment {
  margin-top: 40px;
}

.total1 {
  color: red;
  font-size: 24px;
  font-family: Algerian;
  margin-right: 2px;
}

.comment-input {
  width: 640px;
  display: flex;
  flex-direction: row;
  height: 45px;

  margin-bottom: 10px;
}

.comment-input img {
  width: 50px;
  height: 50px;
}

.comment-input textarea {
  width: 540px;
  height: 30px;
  padding-left: 5px;
  font-size: 18px;
  position: relative;
  padding-top: 10px;
}

.comment-input button {
  color: white;
  height: 45px;
  background: black;

}

.comment-writer {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.comment-img {

}

.user-img img {
  width: 30px;
  padding-top: 20px;
  margin-right: 10px;
  border-radius: 100px;
}
.user-info {
  color: darkmagenta;
}

.comment-detail p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.comment-reply {
  margin-bottom: 20px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
}

.comment-like {
  position: absolute;
  right: 2px;

}

.comment-like a {
  margin-right: 5px;
}

.comment-like img {
  height: 12px;
}

/*登录弹窗样式*/
.modal {
  height: 250px;
  width: 400px;
  background: #f5f5f5;
  margin-left: 30%;
  margin-top: 200px;
}

.modal h2 {
  text-align: center;
  font-family: 方正舒体;
  color: red;
  margin-bottom: 5px;
}

.modal p {
  text-align: center;
  font-weight: bold;
}

.label-phone {
  margin-top: 10px;
}

.label-phone a {
  width: 80px;
  margin-left: 30px;
  margin-right: 20px;
  color: black;
}

.label-code a {
  width: 80px;
  margin-left: 45px;
  margin-right: 37px;
  color: black;
}

.submit {
  margin-left: 175px;
  background: aquamarine;
}